@import "tailwindcss";

@font-face {
  font-family: rokh-med;
  src: url(../src/assets/fonts/RokhNoEng-Medium.woff2);
}

@font-face {
  font-family: rokh-bold;
  src: url(../src/assets/fonts/RokhNoEng-Bold.woff2);
}

@theme {
  --color-darkRed: #cb1b1b;
  --color-darkRed-500: #9e1515;
  --color-placeHolder: #505050;
  --color-inputBorder: #cbcbcb;
  --color-searchInput: #ededed;
  --color-footer: #F9F9F9;
  --radius-input: 12px;
}

* {
  font-family: rokh-med;
}

.redBtn {
  color: white;
  background-color: #cb1b1b;
  font-weight: 400;
}
