
@font-face {
    font-family: rokh-med ;
    src: url(../src/assets/fonts/RokhNoEng-Medium.woff2);
}


@font-face {
    font-family: rokh-bold ;
    src: url(../src/assets/fonts/RokhNoEng-Bold.woff2);
}

*{
    font-family: rokh-med
}

@theme{
    --color-darkRed: #CB1B1B;
    --color-darkRed-500: #9E1515;
    --color-placeHolder: #505050;
    --color-inputBorder: #CBCBCB
}

@import "tailwindcss";

